<div class="container">
  <div>
      <h3>Deal Details</h3>
  </div>
  <table class="table table-borderless">
      <tr>
          <td>Deal State</td>
          <td>{{deal.etat}}</td>
      </tr>
      <tr>
        <td>Agent Name</td>
        <td>{{deal.annonce.agent.agentName}}</td>
    </tr>
      <tr>
          <td>Deal date</td>
          <td>{{deal.dealDate}}</td>
      </tr>
      <tr>
          <td>Deal Cost</td>
          <td>{{deal.dealCost}}</td>
      </tr>
      <tr>
          <td>Annonce Type</td>
          <td>{{deal.annonce.offerType}}</td>
      </tr>
      <tr>
          <td>Area in Square feet</td>
          <td>{{deal.annonce.areaSqft}}</td>
      </tr>
      <tr>
          <td>City</td>
          <td>{{deal.annonce.city}}</td>
      </tr>
      <tr>
          <td>Address</td>
          <td>{{deal.annonce.address}}</td>
      </tr>
      <tr>
          <td>Street</td>
          <td>{{deal.annonce.street}}</td>
      </tr>
  </table>




</div>
