
<br>
<div class="container" align="center" style="font-weight: bolder;"><h1>Credit Page</h1></div>
<nav class="navbar navbar-expand-sm bg-success navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/credit/all']">List Credit</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/credit/add']">Simulation Credit</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/credit/update']">update Credit</a>
    </li>
    
  </ul>
</nav>
<router-outlet></router-outlet>
<form action="#" [formGroup]="CreditForm" (ngSubmit)='addCredit()'>

    <h1>Simulation Credit</h1><br>
    <p style="font-size: 12px;" class="alert alert-success" *ngIf="success"><strong>Credit Simulated with success</strong></p>
    <label for="Initialamount">Initialamount:</label>
        <input type="text" placeholder="Initialamount" formControlName="initialamount" />
        <span *ngIf="initialamount?.touched && !initialamount?.valid" class="badge badge-warning">Required </span>
        <label for="creditformula_id">creditformula_id:</label>
        <select formControlName="creditformula_id" >
            <option *ngFor="let id of creditformula" value="{{id}}">{{id}}</option>
        </select>
        <span *ngIf="creditformula_id?.touched && !creditformula_id?.valid" class="badge badge-warning">Required</span>
        
    <button class="btn btn-success btn-sm" align="center" [disabled]="!CreditForm.valid" type="submit">add</button>
</form>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">creditformula_id</th>
        <th scope="col">duration</th>
        <th scope="col">interestRate</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let formule of creditformulas">
        <th scope="row">{{formule.id}}</th>
        <td>{{formule.id}}</td>
        <td>{{formule.duration}}</td>
        <td>{{formule.interestRate}}</td>
      </tr>

    </tbody>
  </table>